@media (max-width: 480px) {

/* Banner cards */
.banner-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--card-padding-h-xl);
    background: url(../images/banners/armsBanner.png);
}

.banner-card h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-l);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-h);
}

.banner-card:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .7);
    inset: 0;
    z-index: 1;
}

.banner-card > * {
    z-index: 2;
}

.is-active {
    position: absolute;
    top: -25px;
    left: -15px;
    background-color: var(--primary-color);
    padding: 5px 22px;
}

.card-menu-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.card-menu-wrapper i {
    color: var(--primary-color);
}


.card-menu-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 25px;
    background: var(--card-bg);
    flex-direction: column;
    gap: 1.05rem;
    padding: var(--card-padding-m);
}



.card-menu-item {
    display: flex;
    align-items: center;
    background: transparent;
    font-family: inherit;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    font-size: var(--font-size-p-s);
    font-weight: var(--font-weight-light);
    gap: .8rem;
    white-space: nowrap;
}

.card-menu-item span {
    display: flex;
    align-items: center;
    gap: .5rem;
}


.menu-divider {
    width: 110%;
    transform: translateX(-5%);
    background-color: var(--error-handling-color);
    height: 1px;
}

.banner-card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}

.banner-card ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-card ul li:before {
    content: '';
    background: var(--primary-color);
    width: 15px;
    height: 3px;
}

}