@media (max-width: 480px) {

/* Banner cards */
.banner-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--space-2) var(--space-8);
    background: url(../images/banners/armsBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius-m);
}

.card-link {
    color: var(--font-color);
    text-decoration: none;
}

.banner-card h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-l);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-h);
    margin: var(--space-6) 0 var(--space-2) 0;
}

.banner-card:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .8);
    inset: 0;
    z-index: 1;
    border-radius: var(--radius-m);
}

.banner-card > * {
    z-index: 2;
}

.is-active {
    position: absolute;
    top: -25px;
    left: -15px;
    background-color: var(--primary-color);
    padding: var(--space-2) var(--space-5);
    border-radius: var(--border-radius-s);
    font-weight: var(--font-weight-m);
    text-transform: uppercase;
    border-radius: var(--radius-s);  
}

.card-menu-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.card-menu-wrapper i {
    color: var(--primary-color);
}


.card-menu-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 25px;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-5) var(--space-4);
    border-radius: var(--radius-s);
}

.card-menu-dropdown.light {
    background: var(--card-bg);
}

.card-menu-dropdown.dark {
    background: var(--bg-color);
}



.card-menu-item {
    display: flex;
    align-items: center;
    background: transparent;
    font-family: inherit;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    font-size: var(--font-size-p-s);
    font-weight: var(--font-weight-light);
    gap: var(--space-3);
    white-space: nowrap;
}



.menu-divider {
    width: 110%;
    transform: translateX(-5%);
    background-color: var(--error-handling-color);
    height: 1px;
}

.banner-card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--space-1);
}

.banner-card ul li {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    line-height: 2rem;
}

.banner-card ul li:before {
    content: '';
    background: var(--primary-color);
    width: 15px;
    height: 3px;
}




/* Icon card  */

.icon-card {
	display: flex;
	align-items: center;
	background: var(--card-bg);
	position: relative;
	/* background-image: url('../images/backgrounds/icon-card-background.png'); */
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	gap: var(--space-5);
	padding: var(--space-3) var(--space-5);
    border-radius: var(--radius-l)
}

.icon-card h2 {
	font-size: var(--font-size-p-l);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m);
	margin: 0;
    max-width: 99%;
}

.exercise-details {
	display: flex;
	flex-direction: column;
	gap: var(--space-2)
}

.icon-card img {
	width: 55px;
	border-right: 1px solid var(--primary-color);
	padding-right: var(--space-4);
}

.icon-card ul{
	list-style: none;
}

.icon-card ul li {
	font-weight: var(--font-weight-s);
	display: flex;
	align-items: center;
	gap: var(--space-3);
}

.icon-card ul li span{
	opacity: .7;
}

.icon-card ul li:before {
	content: '';
	width: 11px;
	height: 2px;
	background: var(--primary-color);
}

}

/* Confirmation popup */
#confirm-modal {
    border: none;
    background: none;
    
    &::backdrop {
        background-color: var(--overlay-bg);
        backdrop-filter: blur(3px);
    }
}

.confirm-modal-content {
    padding: var(--space-6) var(--space-5);
    margin: 0 var(--space-2);
    background: var(--bg-color);
    border-radius: var(--radius-m);
    color: var(--font-color);
}

.confirm-modal-content h2 {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: var(--letter-spacing-h);
}

.confirm-modal-content p {
    margin: var(--space-3) 0 var(--space-5) 0;
    opacity: .7;
    font-size: var(--font-size-p-s);
    line-height: var(--line-height-m);
}

.confirm-modal-buttons {
    display: flex;
    gap: var(--space-3);
}

.confirm-modal-buttons button {
    font-size: var(--font-size-p-l);
    border-radius: var(--radius-m);
    padding: var(--space-3);
    font-family: inherit;
    font-weight: var(--font-weight-m);
    flex: 1;
    text-shadow: var(--text-shadow-s);
}

.confirm-modal-cancel-button {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--font-color);
}

.confirm-modal-remove-button {
    background-color: transparent;
    border: 2px solid var(--error-handling-color);
    color: var(--error-handling-color);
}

/* Error handling  */
#top-error-message {
    background: var(--error-handling-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
    text-align: center;
    padding: var(--space-1) var(--space-4);
    box-shadow: var(--box-shadow-l);
}

/* ===============================
   Exercise Slide Up Component
   =============================== */
.exercise-editor {
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
    transform: none;
    max-width: 100%;
    position: fixed;
    background: var(--card-bg);
    border: none;

    &::backdrop {
        background-color: var(--overlay-bg);
        backdrop-filter: blur(2px);
    }
}

/* Set font size for labels */
.exercise-editor .editor-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    color: var(--font-color);
    font-size: var(--font-size-p-m);
    overflow: hidden;
}

.exercise-editor .editor-title{
    font-size: var(--font-size-h1);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-h);
    margin: var(--space-5) 0 0 0;
}

.exercise-editor .editor-content label,
.exercise-editor .muscle-group-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.exercise-editor .editor-content input,
.exercise-editor .muscle-group-header > button {
    background: var(--bg-color);
    border: none;
    line-height: var(--line-height-l);
    color: var(--font-color);
    padding: var(--space-3);
    font-size: var(--font-size-p-m);
    color: var(--font-color-light);
}

.exercise-editor .editor-content input:focus {
    outline: none;
    border: none;
}

.exercise-editor .first-block,
.exercise-editor .second-block {
    display: flex;
    gap: var(--space-3);
    align-items: center;
}


/* All flex children */
.exercise-editor .first-block > *,
.exercise-editor .second-block > *{
    flex: 1;
    min-width: 0;
}


.exercise-editor .muscle-group-select {
    position: relative;
}

.exercise-editor .muscle-group-header button {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: space-between;
}

.exercise-editor .muscle-group-header button i {
    color: var(--primary-color);
}

.exercise-editor .muscle-group-header button span {
    font-size: var(--font-size-p-m)
}


/* Muscle group selection dropdown */
.exercise-editor .muscle-group-dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    background: var(--bg-color);
    padding: var(--space-4) var(--space-3) 0 var(--space-2);
    position: absolute;
    top: 100%;
    max-height: 20dvh;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition: transform .2s ease-in-out;
    width: 100%;
}

.exercise-editor .muscle-group-dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.exercise-editor .muscle-group-dropdown button {
    text-align: left;
    background: none;
    border: none;
    color: var(--font-color);
    font-family: inherit;
    font-size: var(--font-size-p-m);
    display: flex;
    align-items: center;
    gap: var(--space-3);
    padding: 0 0 var(--space-4) 0
}

.exercise-editor .muscle-group-dropdown button:not(:last-child) {
    border-bottom: .1px solid var(--primary-color);

}


.exercise-editor .muscle-group-dropdown button::before {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
    margin-left: var(--space-2)
}

.exercise-editor .muscle-group-dropdown button.selected::before {
    background: var(--primary-color);
}
