:root {

/* Colors */
--primary-color: #0C8BE8;
--font-color: #F6F6F6;
--bg-color: #1C1C1C;
--card-bg: #272727;
--error-handling: #EF4444;

/* Font properties */

	/* Font size */
	--font-size-h1-m: 32px;
	--font-size-h2-m: 22px;
	--font-size-h3-m: 20px;
	--font-size-highlight-m: 18px;
	--font-size-p-m: 16px;
	
	/* Font Family */
	--font-family: "inter", sans-serif;
	
	/* Letter Spacing */
	--letter-spacing-h: 5%;

/* Spacing */
--button-spacing: 12px 0;
	
}